<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462129586194-jhm2v9s1piq1l8f0t621h9jjf0gv1mgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462129586194-jhm2v9s1piq1l8f0t621h9jjf0gv1mgu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>462129586194-0scaj3p0ve8ce01a55lqr9rd3bibkfan.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBsCyYIzR0A60xMga3RQ5ujuV2qF_kJGvs</string>
	<key>GCM_SENDER_ID</key>
	<string>462129586194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.ftcjsc.babazashop</string>
	<key>PROJECT_ID</key>
	<string>vieclamviet-8421b</string>
	<key>STORAGE_BUCKET</key>
	<string>vieclamviet-8421b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462129586194:ios:c2191993fd926e2629b8cb</string>
	<key>DATABASE_URL</key>
	<string>https://vieclamviet-8421b.firebaseio.com</string>
</dict>
</plist>